/* 
*	Name of design: Products Filter for Magento
*	Designer: Plumrocket Inc
*	Copyright status: All rights reserved
*	Website: www.plumrocket.com
*/      


/*Filter Custom*/
.product-filter .selector .icon:after {
	border-color: #ff1341 transparent transparent transparent;
}

.product-filter .filter-counter,
.product-filter .reset-filter {
	color: inherit;
}

.product-filter .reset-filter:hover {
	color: #ff1341;
}

.product-filter .dropdowner .active-list {
	border-color: #ff1341;
	background-color: #ff1341;
}

.product-filter + .pager .limiter {
	line-height: 33px;
}

	.product-filter + .pager .limiter label {
		margin: 0 5px 0 0;
	}

	.product-filter + .pager .limiter select {
		height: 33px;
	}

.product-filter + .pager + .sorter .view-mode {
	line-height: 33px;
	margin-right: 5px;
}

.product-filter + .pager + .sorter .view-mode .grid,
.product-filter + .pager + .sorter .view-mode .list {
	float: none;
}

.product-filter + .pager + .sorter .sort-by {
	line-height: 33px;
	padding-right: 10px;
}

	.product-filter + .pager + .sorter .sort-by select {
		height: auto;
		margin-top: 0;
		height: 33px;
	}

	.product-filter + .pager + .sorter + .pager-box {
		display: none;
	}
	
	.product-filter + .pager + .sorter + .pager-box + .pages {
		float: left;
		margin-top: 10px;
	}

	.product-filter + .pager + .sorter .view-mode .grid,
	.product-filter + .pager + .sorter .view-mode .list {
		padding: 0 10px;
	}

.product-filter + .pager + .sorter .sort-by a.sort-asc,
.product-filter + .pager + .sorter .sort-by a.sort-desc {
	margin-top: 8px;
}

.products-grid li.item {
	clear: none!important;
	float: left;
}

@media only screen and (max-width: 968px) {

	.product-filter + .pager,
	.product-filter + .pager + .sorter .view-mode {
		margin-bottom: 5px;
	}
	
	.product-filter + .pager .limiter {
		float: left;
		padding-left: 0;
	}
	
	.product-filter + .pager .pages {
		margin-top: 0;
	}

}


@media only screen and (max-width: 480px) {

	.product-filter + .pager + .sorter .sort-by label {
		text-transform: none;
		padding-right: 0;
	}

	.product-filter + .pager + .sorter .sort-by {
		padding-right: 0;
	}

	.product-filter + .pager + .sorter .view-mode {
		margin-right: 0;
	}

	.product-filter + .pager, .product-filter + .pager + .sorter .view-mode {
		float: left;
	}

}