/**
 * Ultra Slideshow
 */



/* Slideshow wrapper
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.the-slideshow-wrapper { width: 65%; height: 400px; float: left; }


.the-slideshow-wrapper:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/*Four Features Box Home Page*/
.four-features {
	position: relative;
	float: right;
	height: 400px;
	width: 400px;
}
.four-features tr>td {
	border: solid 1px gray;
}
div.home-feature-wrapper {
	margin: 2px;
	background-color: gray;
	height: 30px;
}
.home-feature-wrapper .home-feature {
	margin: 0;
	padding-top: 7px;
	padding-right: 13px;
	padding-left: 5px;
	position: absolute;
	color: white;
	height: 30px;
	width: 200px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

/* Slideshow
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.the-slideshow { margin:0 auto; }
.the-slideshow .slides { display: none; }


/* Banners
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.the-slideshow-banners {
	-webkit-backface-visibility: hidden; /* Fix possible glitches during animation */
	margin-bottom:0.1%; /* Important: a little bit bigger than slideshow bottom margin to avoid jumping on slide transition */
}
.the-slideshow-banners .banner { position:relative; /* Container for caption */ }
.the-slideshow-banners a.banner, /* Backward compatibility, link could have "banner" class */
.the-slideshow-banners .banner a { display:block; }

/* Additional effects
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.the-slideshow 			.fade-on-slideshow-hover,
.the-slideshow-wrapper	.fade-on-slideshow-wrapper-hover {
	transition:			opacity 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out;
}
.the-slideshow:hover 			.fade-on-slideshow-hover,
.the-slideshow-wrapper:hover 	.fade-on-slideshow-wrapper-hover {
	opacity:0.75;
	filter:alpha(opacity=75);
}
