/**
 * Ultra Slideshow
 */

/* Slideshow wrapper
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.the-slideshow-wrapper { width: 65%; float: left; }

.the-slideshow-wrapper:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/*Four Features Box Home Page*/
.four-features {
	margin-left: -269px;
	position: relative;
	float: right;
	max-width: 428px;
	height: 428px;
	width: 428px;
}
div.four-feature-wrapper {
	border: solid 2px white;
	position: absolute;
	background-color: #333;
	z-index: 999;
	height: 30px;
	width: 214px;
	border-bottom-style:none;
	border-top-style:none;
	opacity:.6666;
}
div.home-feature-wrapper {
	height: 30px;
}
div.four-feature-img {
	border:solid 2px white;
  position: absolute;
  display: inline;
  float: right;
  height:214px;
  width:214px;
}
#corinthian {
	background: url('/windchimes/media/catalog/product/f/e/feature-corinthian.jpg') no-repeat;
  background-size:100%;
  border-bottom-style: none;
}
#specific-notes {
	background: url('/windchimes/media/catalog/product/f/e/feature-note.jpg') no-repeat;
  background-size:100%;
  border-bottom-style: none;
}
#under-fifty {
	background: url('/windchimes/media/catalog/product/f/e/feature-under50.jpg') no-repeat;
  background-size:100%;
}
#personalize {
	background: url('/windchimes/media/catalog/product/f/e/feature-personalized.jpg') 50% no-repeat;
  background-size:110%;
}
.home-feature-wrapper .home-feature {
	margin:0;
	text-align: center;
	position: absolute;
	color: white;
	height: 30px;
	line-height: 30px;
	width: 214px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

/* Slideshow
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.the-slideshow { margin:0 auto; }
.the-slideshow .slides { display: none; }


/* Banners
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.the-slideshow-banners {
	-webkit-backface-visibility: hidden; /* Fix possible glitches during animation */
	margin-bottom:0.1%; /* Important: a little bit bigger than slideshow bottom margin to avoid jumping on slide transition */
}
.the-slideshow-banners .banner { position:relative; /* Container for caption */ }
.the-slideshow-banners a.banner, /* Backward compatibility, link could have "banner" class */
.the-slideshow-banners .banner a { display:block; }

/* Additional effects
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.the-slideshow 			.fade-on-slideshow-hover,
.the-slideshow-wrapper	.fade-on-slideshow-wrapper-hover {
	transition:			opacity 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out;
}
.the-slideshow:hover 			.fade-on-slideshow-hover,
.the-slideshow-wrapper:hover 	.fade-on-slideshow-wrapper-hover {
	opacity:0.75;
	filter:alpha(opacity=75);
}
/*Media Queries*/
@media only screen and (min-width:772px) and (max-width:959px) {
	.four-features {
		margin-right:160px;
	}
}@media only screen and (min-width:960px) and (max-width: 991px) {
	.four-features {
		height:120px;
	}
	div.four-feature-img {
		height:138px;
		position: relative;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1279px) {
	.the-slideshow-wrapper {
		width:55%;
	}
	.four-features {
		height:171px;
	}
	div.four-feature-img {
		height:148px;
		position: relative;
	}

}
